.action{
    background: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img/bg-02.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.hero.action .container{
    padding: 40px 0 80px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.hero.action .hero-title{
    max-width: 100%;
}