.footer{
    background: var(--gray);
    padding: 40px 0;
    text-align: center;
}
.gion{
    display: none;
}


@media screen and (min-width: 768px) {
    .footer .container{
        display: flex;
        justify-content: center;
        gap: 5px;
    }
    .gion{
        display: inline-block;
    }
}