@import url('./reset.css');
@import url('./header.css');
@import url('./espacios.css');
@import url('./action.css');
@import url('./productos.css');
@import url('./contacto.css');
@import url('./footer.css');

:root{
    --red: #d03b40;
    --beige: #ded6c0;
    --white: #f5f0ed;
    --gray: #241d1b;
    --black: #3c3c3b;

    --fontPrincipal: 'Open Sans', sans-serif;


    --headline1: 800 44px/45px var(--fontPrincipal);
    --headline2: 800 28px/35px var(--fontPrincipal);
    --headline3: 800 24px/38px var(--fontPrincipal);

    --body: 400 16px/25px var(--fontPrincipal);
    --button: 700 14px/22px var(--fontPrincipal);

    --headline1XL: 800 60px/64px var(--fontPrincipal);
    --headline1SM: 800 34px/38px var(--fontPrincipal);
    --bodyXL: 400 18px/27px var(--fontPrincipal);
}

body{
    font: var(--body);
    color: var(--white);
    min-height: 100vh;
}
img{
    max-width: 100%;
}
.container{
    max-width: 90%;
    margin: 0 auto;
}
.btn-secondary{
    margin: 0 auto;
    width: 100%;
    background: none;
    padding: 15px 20px;
    color: var(--white);
    border: 2px solid var(--white);
    font: var(--button);
    text-transform: uppercase;
    cursor: pointer;

    transition: .3s background;
}
.btn-secondary:hover{
    border: 2px solid var(--red);
    background: var(--red);
    color: var(--white);
}
.btn-secondary:active{
    transform: scale(.98);
}

@media screen and (min-width: 480px) {
    .btn-secondary{
        max-width: 300px;
    }
}